body {
	font-family: Arial, 'Lucida Sans Unicode', Helvetica, sans-serif;
	margin: 0;
}
#loginContainer {
	border: 3px solid;
	background-color: #BFBABA;
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 50px;
}
form.login{
    width: 155px;
    margin: 3em auto 5em;
}
h1.login {
	font-size: 2.8em;
	color: #93008C;
	margin: 0;
	padding-top: 2em;
    text-align: center;
}
.loginError {
	display: block;
	margin-left: 24.7em;
	margin-top: 3em;
	color:red;
}
form.login input {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}
footer.login {
	border-top: 3px solid;
	font-size: 11px;
    margin-top: 12.8em;
    padding: 1em;
    text-align: center;
    background-color: red;
}
#loginSubmit {
	border: 1px solid;
	display: block;
	margin: 0.5em auto 0;
}

#gestioContainer {
	width: 950px;
	margin: 1em auto;
}

#gestioContainer header {
	background-color: #A9A9A9;
}
header h1 {
	float: right;
    font-size: 38px;
    margin-right: 2em;
    margin-top: 1.4em;
}
#accionsGestio {

}
#accionsGestio input {
	border: 2px solid green;
}